*
!.config
!.config/xfce4/
!.config/xfce4/**

!.config/xfce4-dict/
!.config/xfce4-dict/**

!.config/autostart/
!.config/autostart/**

!.config/i3/
!.config/i3/**

!.config/dconf/
!.config/dconf/**

!.config/kitty/
!.config/kitty/**

!.config/ristretto/
!.config/ristretto/**

!.xinitrc
!.zshrc

!.gitignore
